@unocss;

body {
  font-family: 'Montserrat Alternates', sans-serif;;
  background: linear-gradient(45deg, #2e2d39, #362c47);

  @apply text-xl text-white fw-300 lh-normal;
}

.font-tenor-sans {
  font-family: 'Tenor Sans', sans-serif;
}

a {
  @apply hover:text-amber-500 transition-colors;
}
