.qwigley {
    font-family: 'Qwigley', cursive;
}

body {
    font-family: 'Racing Sans One', system-ui;
    font-size: 18px;
    color: #F2F2F2;
}

.gradient-red {
    background-image: linear-gradient(310deg, #C32626 0%, white 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-transparent {
    background-image: linear-gradient(270deg, rgba(194.93, 38.42, 38.42, 0.11) 0%, rgba(166.73, 166.73, 166.73, 0.09) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.md-badges {
    p {
        display: flex;
        flex-wrap: wrap;
        gap: 2px;
    }
}